<!DOCTYPE html>
<html>
<head>
    <title>Skladišta</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #a5a5a5;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #c7c7c7;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Početna</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('proizvodi_get') }}">Proizvodi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('zaposlenici_get') }}" >Zaposlenici</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('get_skladista') }}" >Skladišta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('inventar_get') }}" >Inventar</a>
                </ul>
            </div>
        </div>
    </nav>

    <a href="{{ url_for('get_insert_form') }}" class="btn btn-primary">Dodaj novo skladište</a>
    <br><br>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Naziv</th>
                <th>Lokacija</th>
            </tr>
        </thead>
        <tbody>
            {% for row in skladista_data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>